################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation
/.vs
/SecuenceBack/obj/Debug/net8.0/SecuenceBack.AssemblyInfoInputs.cache
/SecuenceBack/obj/Debug/net8.0/SecuenceBack.AssemblyInfo.cs
/SecuenceBack/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/SecuenceBack/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/SecuenceBack/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/SecuenceBack/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/SecuenceBack/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/SecuenceBack/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/SecuenceBack/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/SecuenceBack/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/SecuenceBack/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/SecuenceBack/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/SecuenceBack/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/SecuenceBack/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/SecuenceBack/obj/Debug/net8.0/EndpointInfo/SecuenceBack.json
/SecuenceBack/obj/Debug/net8.0/EndpointInfo/SecuenceBack.OpenApiFiles.cache
/SecuenceBack/obj/Debug/net8.0/ref/SecuenceBack.dll
/SecuenceBack/obj/Debug/net8.0/refint/SecuenceBack.dll
