################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SecuenceBack/obj
/SecuenceBack/bin/Debug/net8.0
/.vs/ProjectEvaluation
/.vs/SecuenceBack/config
/.vs/SecuenceBack
/SecuenceBack/obj/Debug/net8.0/rpswa.dswa.cache.json
/SecuenceBack/obj/Debug/net8.0/SecuenceBack.AssemblyInfoInputs.cache
/SecuenceBack/obj/Debug/net8.0/SecuenceBack.AssemblyInfo.cs
/SecuenceBack/obj/Debug/net8.0/SecuenceBack.assets.cache
/SecuenceBack/obj/Debug/net8.0/SecuenceBack.GeneratedMSBuildEditorConfig.editorconfig
